<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- World File -->
  <arg name="world_file" default="$(find homerobo)/worlds/homerobo.world"/>

  <!-- Robot pose -->
  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- Launch other relevant files -->
  <include file="$(find homerobo)/launch/robot_description.launch"/>

  <!-- Find my robot Description-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find homerobo)/urdf/homerobo.xacro'"/>

  <!-- Spawn My Robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-urdf -param robot_description -model homerobo
              -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)"/>

  <!-- Launch AMCL -->
  <include file="$(find homerobo)/launch/amcl.launch"/>

  <!-- launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" respawn="false"
    args="-d $(find homerobo)/rviz/homerobo.rviz"/>

</launch>
